*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration:none;
}
.box{
	min-width: 100%;
	max-width: 1920px;
	min-height: 100%;
	max-height: 1080px;
	position: relative;
}
.box .anniu{
	width: 50px;
	height: 50px;
	border:1px solid #000000;
	background: url(../imgers/yy.jpg) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: 3;
	transition:all 1s linear;
	animation:anniu 2s linear infinite;
	
}
@keyframes anniu{
	100%{
		transform: rotate(360deg);
	}
}
.fen{
	width: 100%;
	position: absolute;
}
.fen ul li{
	width: 100%;
	height:240px;
	border: 1px solid #fff;
	border-left:none;
	border-right: none;
	z-index: 2;
}
.fen ul li:nth-child(1){
		margin-bottom: 240px;
}

.videobox{
	overflow: hidden;
}
.videobox video{
	width: 100%;
	position: fixed;
	left: 0;
	top: -111px;
	z-index: -1;
}


.wy{
	width: 200px;
	position: absolute;
	top:-1000px;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 2s ease-in;
}
body:hover .wy{
	top:300px;
	
}

.wy a{
	color: #fff;
	text-align: center;
	line-height: 50px;
	position: absolute;
}
/*流光按钮*/
.b{
	background-color: rgb(0,0,0,0.5);
	width: 150px;
	height: 50px;
	margin: 10px 25px;
	border-radius: 5px;
	overflow:hidden;
	position:relative;
}
.b:hover{
	background-color: #03e9f4;
	border-radius:10px ;
	box-shadow:0 0 5px 0 #03e9f4,
			   0 0 25px 0 #03e9f4,
			   0 0 50px 0 #03e9f4,
			   0 0 100px 0 #03e9f4;
	
}
.a>span{
	position:absolute;
}
.a>span:nth-child(1){
	width: 100%;
	height: 2px;
	background:-webkit-linear-gradient(left,transparent,#03e9f4);
	left:-100%;
	top:0px;
	animation:line1 0.5s linear infinite;
}
@keyframes line1{
	50%,100%{
		left:100%;
	}
}
.a>span:nth-child(3){
	width: 100%;
	height: 2px;
	background:-webkit-linear-gradient(left,#03e9f4,transparent);
	left:100%;
	bottom:0px;
	animation:line3 0.5s linear infinite;
}
@keyframes line3{
	50%,100%{
		left:-100%;
	}
}
.a>span:nth-child(2){
	width: 2px;
	height: 100%;
	background:-webkit-linear-gradient(top,transparent,#03e9f4);
	right:0px;
	top:-100%;
	animation:line2 0.5s linear infinite;
}
@keyframes line2{
	50%,100%{
		top:100%;
	}
}
.a>span:nth-child(4){
	width: 2px;
	height: 100%;
	background:-webkit-linear-gradient(top,#03e9f4,transparent);
	left:0px;
	top:100%;
	animation:line4 0.5s linear infinite;
}
@keyframes line4{
	50%,100%{
		top:-100%;
	}
}


