*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background: rgb(0,0,0,0.6) ;
	
}
bt{
	width: 50px;
	height: 50px;
	background: url(../imgers/yy.jpg) no-repeat;
	border-radius: 50%;
	background-size: cover; 
	position: absolute;
	top: 17px;
	right: 250px;
	animation: bt 2s linear infinite;
}
@keyframes bt{
	100%{
		transform: rotate(360deg);
	}
}
header{
	height: 40px;
	background-color: rgb(255,255,255,.6);
	text-align: left;
	box-shadow: 10px 1px 10px rgb(0,0,0);
	margin: 10px;
	padding: 10px 0;
	padding-top: 15px;
	border:3px solid #000000;
	border-radius: 10px;
	
}
header .item a{
	color: rgb(0, 12, 255,.5);
}
header .itrm4{
	margin-left: 700px;
	margin-right: 0;
}
.wenzi{
	font-size: 60px;
	font-weight: bolder;
	color: #FFFFFF;
	opacity: .2;
	cursor: default;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
header ul li{
	float: left;
	margin-left: 70px;
}
header ul li a{	
	color: rgb(107,107,107);
	font-size: 22px;
	font-weight: bold;
	background-color: rgb(255,250,232);
	border:1px solid #000000;
	border-radius: 10px;
	padding: 5px 20px;
	display: inline;
	
}
section{
	width: 100%;
	height: 560px;
	padding: 20px;
	border-radius: 22px;
	background: rgb(255,255,255,.1);
}
section div{
	width: 440px;
	height: 220px;
	background-color: #FFFFFF;
	float: left;
	border-radius: 5px;
	margin: 20px 20px 20px 20px;
	background: #FFFFFF;
	opacity:.8;
}

footer{
	width: 100%;
	padding: 20px;
	border-top:1px solid rgb(255,255,255,.5);
	text-align: center;
	
}
footer p{
	color: #FFFFFF;
	font-size: 12px;
}
footer a{
	color: #FFFFFF;
	font-size: 12px;
	
}