*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background: rgb(0,0,0,0.6) ;
	
}
bt{
	width: 50px;
	height: 50px;
	background: url(../imgers/yy.jpg) no-repeat;
	border-radius: 50%;
	background-size: cover; 
	position: absolute;
	top: 17px;
	right: 250px;
	animation: bt 2s linear infinite;
}
@keyframes bt{
	100%{
		transform: rotate(360deg);
	}
}
header{
	height: 40px;
	background-color: rgb(255,255,255,.6);
	text-align: left;
	box-shadow: 10px 1px 10px rgb(0,0,0);
	margin: 10px;
	padding: 10px 0;
	padding-top: 15px;
	border:3px solid #000000;
	border-radius: 10px;
	
}
header ul li{
	transition:all 1s linear;
}

header ul li,a:hover{
	color: #000;
	transform: scale(1.1);
	box-shadow: 5px 5px 10px 1px #a5a5a5,
				1px 0px 3px 1px #000 inset;
}
header .item a{
	color: rgb(0, 12, 255,.5);
}
header .itrm4{
	margin-left: 850px;
	margin-right: 0;
}
.wenzi{
	font-size: 60px;
	font-weight: bolder;
	color: #FFFFFF;
	opacity: .2;
	cursor: default;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
header ul li{
	float: left;
	margin-left: 70px;
}
header ul li a{	
	color: rgb(107,107,107);
	font-size: 22px;
	font-weight: bold;
	background-color: rgb(255,250,232);
	border:1px solid #000000;
	border-radius: 10px;
	padding: 5px 20px;
	display: inline;
	border: 1px solid #000;
	
}
section{
	width: 100%;
	height: 560px;
	padding: 20px;
	border-radius: 22px;
	background: rgb(255,255,255,.1);
	
}

section .man{
	width: 50%;
	height: 50%;
	position: relative;
	top: 50%;
	left: 300px;
	transition: all 1s linear;
	animation:man 6s infinite ;
}
@keyframes man{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		transform:translate(1000px);
		opacity:0;
	}
}
section .man .manup,
section .man .mandows{
	width: 0;
	height: 0;
	border: 25px solid #ffff00;
	border-right:25px solid transparent ;
	border-radius: 50%;
}
section .man .manup{
	animation:up 0.5s infinite;
}
section .man .mandows{
	margin-top: -50px;
	animation:dows 0.5s infinite;
}
section .man .mandot{
	position: absolute;
	background-color: #FFFF00;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 8%;
	left: 100px;
	margin-top: -4px;
}
section .man .mandot:nth-child(3){
	animation:dot 1s 0s infinite linear;
}
section .man .mandot:nth-child(4){
	animation:dot 1s 0.33s infinite linear;
}
section .man .mandot:nth-child(5){
	animation:dot 1s 0.66s infinite linear;
}
@keyframes dot{
	50%{
		opacity:.6;
	}
	100%{
		transform: translate(-100px);
	}
}
@keyframes up{
	0%{
		transform: rotate(90deg);
	}
	50%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(90deg);
	}
}
@keyframes dows{
	0%{
		transform: rotate(270deg);
	}
	50%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(270deg);
	}
}

footer{
	width: 100%;
	padding: 20px;
	border-top:1px solid rgb(255,255,255,.5);
	text-align: center;
	
}
footer p{
	color: #FFFFFF;
	font-size: 12px;
}
footer a{
	color: #FFFFFF;
	font-size: 12px;
	
}