*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background: rgb(0,0,0,0.6) ;
	
}
bt{
	width: 50px;
	height: 50px;
	background: url(../imgers/yy.jpg) no-repeat;
	border-radius: 50%;
	background-size: cover; 
	position: absolute;
	top: 17px;
	right: 250px;
	animation: bt 2s linear infinite;
}
@keyframes bt{
	100%{
		transform: rotate(360deg);
	}
}
header{
	height: 40px;
	background-color: rgb(255,255,255,.6);
	text-align: left;
	box-shadow: 10px 1px 10px rgb(0,0,0);
	margin: 10px;
	padding: 10px 0;
	padding-top: 15px;
	border:3px solid #000000;
	border-radius: 10px;
	
}
header .item2 a{
	color: rgb(0, 12, 255,.5);
}
header .itrm4{
	margin-left: 850px;
	margin-right: 0;
}

header ul li{
	transition:all 1s linear;
}

header ul li,a:hover{
	color: #000;
	transform: scale(1.1);
	box-shadow: 5px 5px 10px 1px #a5a5a5,
				1px 0px 3px 1px #000 inset;
}
header ul li{
	float: left;
	margin-left: 70px;
}
header ul li a{	
	color: rgb(107,107,107);
	font-size: 22px;
	font-weight: bold;
	background-color: rgb(255,250,232);
	border-radius: 10px;
	padding: 5px 20px;
	display: inline;
	border: 1px solid #000;
	
}

section{
	width: 100%;
	height: 560px;
	padding: 20px;
	border-radius: 22px;
	background: rgb(255,255,255,.1);
}
section form{
	text-align: center;
	
}
section form textarea{
	border:1px solid rgb(0,0,0,.1);
	border-radius:20px ;
	text-align: center;
	font-size: 20px;
	opacity: .5;
}

section p{
	
	font-size: 20px;
	color: #FFFFFF;
	margin-left: -50px;
	
}
section #t1{
	width: 200px;
	height: 30px;
	margin-left: 10px;
}
section #s1{
	width: 50px;
	height: 30px;
	margin: 10px;
	
}
section #r1{
	width: 50px;
	height: 30px;
	margin: 10px;
}
footer{
	width: 100%;
	padding: 20px;
	border-top:1px solid rgb(255,255,255,.5);
	text-align: center;
	
}
footer p{
	color: #FFFFFF;
	font-size: 12px;
}
footer a{
	color: #FFFFFF;
	font-size: 12px;
	
}